@import "variables.css";

.jumbotron{
    background: url(../assets/mountains.jpg) center 80%;
    position: relative;
    /* z-index:-5; */
    top: 0px;
    left: 0px;
    background-size: cover;
    height:85vh;
    text-align: center;
    color: var(--blue);
}

.display-2{
    font-family: 'Quicksand', sans-serif;
    /* font-size:80px; */
    position:relative;
    text-align: center;
    top:1.5em;
}

.lead{
    position:relative;
    top:6em;
}

/* #linkinLink{
    position:relative;
    z-index:60;
} */

.fa-linkedin{
    display: inline-block;
    position:relative;
    top:2.5em;
    left:-0.5em;
    color:rgb(46,46,46);
    /* z-index: 50; */
}

.fa-github-square{
    position:relative;
    top:2.5em;
    left:0.5em;
    color:rgb(46, 46, 46);
    z-index:50;

}

#resume{
    position:relative;
    top:5.5em;
    font-family: 'Quicksand', sans-serif;
    font-size:20px; 
    color:rgb(46, 46, 46);
    text-decoration: none;
}

/* #icons{
 position:relative;
z-index: 50;
} */